{% extends "index.html" %}
    {% block body %}
<form action="/colored_countries">


    {% for line in countries %}
    <div class="row">
        {% for country in line %}
        {% if country %}
        <div class="col-3">
            <input class="form-check-input" id="{{country.id}}" type="checkbox" name="c" value="{{country.id}}">
            <label class="form-check-label" for="{{country.id}}"> {{country.name}}</label> <br>

        </div>
        {% endif %}
        {% endfor %}
    </div>

    {% endfor %}
    <br>
    <button type="submit" class="btn btn-primary">OK</button>

</form>

    {% endblock %}